/* home hero banner */

h1,h2,h4,h5 {
    font-weight: 700;
    color: #595959;
    text-transform: uppercase;  
}
/* body, .app {
    height: 90vh;
} */


.home {
    /* background-image: url('./wellness.jpg'); */
    height: 50vh;
   
    /* margin: 30px; */
}

/* Navbar*/
nav {
    background-color: #ff6000;
    border-radius: 0 0 1.875rem 0;
}
nav .navbar-brand img {
    max-width: 100%;
    max-height: 50px;
}


nav .navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}
nav .dropdown-submenu {
    position:relative;
}
nav .dropdown-submenu>.dropdown-menu {
    top:0;
    right:100%;
    margin-top:-6px;
}

/* rotate caret on hover */
nav .dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
} 

/* destination cards */

